---
name: 'Scripts CI'

"on":
  # run on pushes to main
  push:
    branches:
      - main
    paths:
      - 'scripts/**'
      - '.github/workflows/scripts.yaml'

concurrency:
  # on main, we want all builds to complete even if commits/merging happens
  # faster to make it easier to discover at which point something broke;
  # else, we cancel "old" builds and run/(re)start the build with
  # the latest changes
  group: >-
    ${{ github.ref == 'refs/heads/main' &&
    format('ci-main-{0}-{1}', github.workflow, github.sha) ||
    format('ci-{0}-{1}', github.workflow, github.ref) }}

jobs:
  test:
    name: 'Test'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo: true

      - name: Git - Checkout
        id: git_checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd

      - name: Bats - Setup
        id: bats_setup
        uses: bats-core/bats-action@v3.0.0

      - name: Bats - Test Scripts
        id: bats_test
        run: |
          mkdir -p test-results
          bats --formatter junit scripts/tests/*.bats \
            | tee test-results/bats_results.xml

      - name: GitHub - Generate App Token
        id: github_generate_app_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a
        if: always()
        with:
          app_id: ${{ secrets.UNIT_TEST_RESULTS_REPORTER_APP_ID }}
          private_key: ${{ secrets.UNIT_TEST_RESULTS_REPORTER_PRIVATE_KEY }}

      - name: GitHub - Publish Unit Test Results
        id: github_publish_results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f
        if: always()
        with:
          github_token: ${{ steps.github_generate_app_token.outputs.token }}
          check_name: Test Results (Scripts)
          junit_files: test-results/bats_results.xml
          comment_mode: off

  checksums_signature:
    name: 'Create Checksums and Signature'
    needs: [test]
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: './scripts/'

    permissions:
      contents: read

    env:
      COSIGN_VERSION: v2.6.1
      CHECKSUM_FILE: scripts.sha256

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo: true

      - name: Git - Checkout
        id: git_checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          ref: ${{ github.head_ref }}
          ssh-key: ${{ secrets.SSH_KEY }}

      - name: Cosign - Setup
        id: cosign_setup
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad
        with:
          cosign-release: ${{ env.COSIGN_VERSION }}

      - name: GitHub - Compute Checksums for Script Files
        id: github_compute_checksums
        run: |
          if [ -f "${CHECKSUM_FILE}" ]; then
            echo "Deleting old ${CHECKSUM_FILE} checksum file"
            rm "${CHECKSUM_FILE}"
          fi
          if [ -f "${CHECKSUM_FILE}.sig" ]; then
            echo "Deleting old ${CHECKSUM_FILE}.sig checksum signature file"
            rm "${CHECKSUM_FILE}.sig"
          fi

          find "." -type f \( -name "*.sh" \) -exec sha256sum {} \; \
            | LC_ALL=C sort -d | tee scripts.sha256

      - name: Cosign - Create Signature File
        id: cosign_sign
        run: |
          cosign sign-blob \
            --key env://COSIGN_PRIVATE_KEY \
            --yes \
            --output-signature "${CHECKSUM_FILE}.sig" \
            --verbose \
            "${CHECKSUM_FILE}"

          echo "File signature:"
          cat "${CHECKSUM_FILE}.sig"
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}

      - name: GitHub - Setup GPG Keys
        id: github_setup_gpg
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Git - Commit and Push State Changes
        id: git_commit_push
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9
        with:
          commit_message: "chore: update checksum and signature file [skip ci]"
          commit_options: '--no-verify'
          commit_user_name: ${{ steps.github_setup_gpg.outputs.name }}
          commit_user_email: ${{ steps.github_setup_gpg.outputs.email }}
          commit_author: >-
            repository-assistant[bot]
            <${{ secrets.REPOSITORY_ASSISTANT_APP_ID }}+repository-assistant[bot]@users.noreply.github.com>
          file_pattern: 'scripts/*.sha256 scripts/*.sha256.sig'
